* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
}

/* HERO */

.hero {
  height: 60vh;
  background-image: url('123.webp');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: bgMove 8s infinite alternate;
}

.btn {
    text-decoration: none;
    color: white;
}

@keyframes bgMove {
  0% { background-position: left; }
  100% { background-position: right; }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #ff0000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.hero-content {
  text-align: center;
  margin-bottom: 150px;
  animation: fadeIn 2s ease;
}

.hero-content h2 {
  font-size: 50px;
}

.hero-content p {
  margin: 20px 0;
}

button {
  padding: 15px 30px;
  border: none;
  background: #ff0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

/* SEKCJE */

.section {
  padding: 100px 20px;
  text-align: center;
}

.dark {
  background: #111;
}

/* KARTY */

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
    background: #1a1a1a;
    padding: 40px;
    width: 200px;
    border-radius: 15px;
    transition: 0.4s;
    color: white;
    text-decoration: none;
}

.card:hover {
  transform: translateY(-15px) scale(1.05);
  background: #ff0000;
}

/* STOPKA */

footer {
  text-align: center;
  padding: 20px;
  background: black;
}

/* ANIMACJE */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SUB HERO */

.sub-hero {
    background: linear-gradient(120deg, #ff0000, #000000);
    padding-bottom: 60px;
    animation: bgMove 8s infinite alternate;
}

.sub-hero-content {
    text-align: center;
    padding: 60px 20px;
    animation: fadeIn 1.5s ease;
}

/* LAYOUT PROFILU */

.driver-layout {
    display: flex;
    gap: 40px;
    padding: 80px 10%;
    flex-wrap: wrap;
}

/* SIDEBAR */

.driver-sidebar {
    flex: 1;
    min-width: 250px;
    animation: fadeIn 1.5s ease;
}

img {

    height: 300px;  
}

.driver-photo {
    height: 300px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.driver-info {
    list-style: none;
    line-height: 2;
}

/* CONTENT */

.driver-content {
    flex: 2;
    min-width: 300px;
}

.content-block {
    margin-bottom: 60px;
    animation: fadeIn 1.5s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th, table td {
        border-bottom: 1px solid #333;
        padding: 12px;
        text-align: left;
    }

.mercedes-hero {
    background: linear-gradient(120deg, #00d2be, #121212); /* kolory Mercedes AMG */
    animation: bgMove 8s infinite alternate;
}

/* SUB HERO dla historii F1 */
.history-hero {
    background: linear-gradient(120deg, #ffcc00, #0b0b0b);
    animation: bgMove 8s infinite alternate;
}

/* layout */
.history-layout {
    display: flex;
    gap: 40px;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.history-sidebar {
    flex: 1;
    min-width: 250px;
    animation: fadeIn 1.5s ease;
}

.history-photo {
    height: 300px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.history-info {
    list-style: none;
    line-height: 2;
}

.history-content {
    flex: 2;
    min-width: 300px;
}

.content-block {
    margin-bottom: 60px;
    animation: fadeIn 1.5s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th, table td {
        border-bottom: 1px solid #333;
        padding: 12px;
        text-align: left;

    }

